<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-large">
        <strong>MEAN Authentication App</strong>
      </h1>
      <h2 class="subtitle">
        Welcome to our custom MEAN authentication application built from scratch
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="columns content container">
    <div class="column">
      <h3>Express Backend</h3>
      <p>A rock solid Node.js/Express server using Mongoose to organize models and query the database</p>
    </div>
    <div class="column">
      <h3>Angular-CLI</h3>
      <p>Angular-CLI to generate components, services and more. Local dev server and easy compilation</p>
    </div>
    <div class="column">
      <h3>JWT Tokens</h3>
      <p>Full featured authentication using JSON web tokens. Login and store user data</p>
    </div>
  </div>
</section>