<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <strong>Mean Auth App</strong>
      </a>
      <a 
        class="nav-item is-tab is-hidden-mobile"
        [routerLinkActive]="['is-active']"
        [routerLinkActiveOptions]= "{exact: true}"
        [routerLink]="['/']">
        Home
      </a>
      <a 
        class="nav-item is-tab is-hidden-mobile"
        [routerLinkActive]="['is-active']"
        [routerLinkActiveOptions]= "{exact: true}"
        [routerLink]="['/dashboard']">
        Dashboard
      </a>
      <a 
        class="nav-item is-tab is-hidden-mobile"
        [routerLinkActive]="['is-active']"
        [routerLinkActiveOptions]= "{exact: true}"
        [routerLink]="['/profile']">
        Profile
      </a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a 
        class="nav-item is-tab is-hidden-mobile"
        [routerLinkActive]="['is-active']"
        [routerLinkActiveOptions]= "{exact: true}"
        [routerLink]="['/login']">
        Login
      </a>
      <a 
        class="nav-item is-tab is-hidden-mobile"
        (click)="onLogoutClick()"
        href="#">
        Logout
      </a>
      <a 
        class="nav-item is-tab is-hidden-mobile"
        [routerLinkActive]="['is-active']"
        [routerLinkActiveOptions]= "{exact: true}"
        [routerLink]="['/register']">
        Register
      </a>
    </div>
  </div>
</nav>